:root {
    --rowNum: 16;
    --colNum: 16;
}    

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lavender;
    font-family: "Courier New"; 
}

#container {
    display: grid;
    background-color: white;
    height: 720px;
    width: 720px;
    grid-template-columns: repeat(var(--colNum), 1fr);
    grid-template-rows: repeat(var(--rowNum), 1fr); 
    border: 5px solid black;
    margin: 25px;
}

#container div {
    border: 1px solid ghostwhite;
} 


#container2 {
    display: flex;
    gap: 25px;
}




